/* ENTITY DECLARATIONS */
.entity {
	-fx-background-color: white;
	-fx-border-color: gray;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-border-width: 1px;
	-fx-padding: 0 0 0 0;
}

.green {
	-fx-background-color: radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
	-fx-background-radius: 6, 5;
	-fx-background-insets: 0, 1;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

.entity-header {
	-fx-padding: 10 5 5 5;
}

.entity-header_shortened {
	-fx-background-radius: 5 5 5 5;
	-fx-border-color: transparent;
}

.entity-header_expanded {
	-fx-background-radius: 5 5 0 0;
	-fx-border-color: transparent transparent lightgray transparent;
}

.entity-class {
	-fx-background-color: #FFFFCC;
}

.entity-abstract-class {
	-fx-background-color: #E6FFCC;
}

.entity-enumeration {
	-fx-background-color: #F5EBFF;
}

.entity-interface {
	-fx-background-color: #EBF5FF;
}

/* GUI CONTROLLER DECLARATIONS */
.project_designer_scroll-pane>.viewport {
	-fx-background-color: linear-gradient(to top left, #FFF5E0, #FFFFF0);
}

.element_removing {
	-fx-background-color: mistyrose;
	-fx-background-radius: 5px;
}

.element_adding {
	-fx-background-color: #CAFFCA;
	-fx-background-radius: 5px;
}

.element_editing {
	-fx-background-color: mistyrose; /* aliceblue*/
	-fx-background-radius: 5px;
}

.title-pane:expanded {
	-fx-background-color: linear-gradient(to top, gray, silver);
}

.toolBar:hover {
	-fx-background-color: linear-gradient(to top, gainsboro, lightgray);
}

.text-field {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-width: 2px;
	-fx-padding: 0 0 0 0;
}
/*#1ECD97 #FB797E*/
.text-field:hover {
	-fx-background-color: lemonchiffon;
	-fx-border-color: lemonchiffon;
}

.text-field:focused {
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.text-field_underlined .text {
	-fx-underline: true;
}

.text-field_bold {
	-fx-font-weight: bold;
}

.check-menu-item .left-container .check {
	-fx-borded-width: 1px;
	-fx-border-color: gray;
	-fx-padding: 3;
}

.split-menu-button:openvertically .label {
	-fx-padding: 0;
}

.access_modifier {
	-fx-background-color: transparent;
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}

.access_modifier_package_private {
	-fx-background-image: url("../images/am_packagePrivate.png");
}

.access_modifier_public {
	-fx-background-image: url("../images/am_public.png");
}

.access_modifier_private {
	-fx-background-image: url("../images/am_private.png");
}

.access_modifier_protected {
	-fx-background-image: url("../images/am_protected.png");
}

.rounded_transparent_button {
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-font-size: 9px;
	-fx-font-weight: bold;
	-fx-opacity: 0.7;
}