.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.primitive {
	-fx-fill: firebrick;
    -fx-font-weight: bold;
}

.reference {
	-fx-fill: black;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: black;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: green;
}
.generics {
	-fx-fill: fuchsia;
	-fx-font-weight: bold;
}

.code-area {
    -fx-background-color: white;
}